.details{

padding:80px 8%;

display:flex;

justify-content:center;

}



.detail-card{

background:#111827;

padding:40px;

border-radius:30px;

text-align:center;

max-width:500px;

}



.detail-image{

font-size:100px;

margin-bottom:20px;

}



.detail-card h2{

color:#00e5ff;

margin:20px;

}



.detail-card button{

padding:12px 25px;

border-radius:25px;

background:#00e5ff;

margin:10px;

}