.coupon-box,
.payment-box{

background:#111827;

padding:25px;

border-radius:20px;

margin-top:25px;

}



.coupon-box input{

padding:12px;

border-radius:10px;

border:none;

width:70%;

}



.coupon-box button{

padding:12px 20px;

border:none;

border-radius:20px;

background:#00e5ff;

font-weight:bold;

}



.payment-box label{

display:block;

background:#0f172a;

padding:15px;

margin:10px 0;

border-radius:15px;

cursor:pointer;

}